@layer reset, fonts, tokens, base, layout, components, utilities, responsive, states;

@import url('./reset.css') layer(reset);
@import url('./fonts.css') layer(fonts);
@import url('./tokens.css') layer(tokens);

@layer base {
  body {
    padding-block-start: var(--spacing-300);
    font-family: var(--ff-base);
    font-weight: var(--fw-normal);
    font-size: var(--fs-300);
    background-color: var(--color-bg-default);
    color: var(--color-text-primary);
  }
}

@layer layout {

  .container {
    inline-size: clamp(21.4375rem, 91vw, 69.375rem);
    margin-inline: auto;
  }

  /* HEADER */
  .header__inner {
    justify-content: space-between;
  }

  /* INTRO */
  .intro {
    margin-block-start: var(--spacing-800);
  }

  .intro__inner {
    position: relative;
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    gap: var(--spacing-800);

    &::after {
      position: absolute;
      content: '';
      inset: 0;
      top: -1.5rem;
      left: 10.5rem;
      background: url('./../assets/images/patterns/curved-line-1.svg') no-repeat;
      background-size: 8rem;
      pointer-events: none;
    }
  }

  .intro__content {
    --stack-space: var(--spacing-500);
    align-items: flex-start;
  }

  .intro__text {
    --stack-space: var(--spacing-300);
  }

  /* TESTIMONIAL */
  .testimonial {
    margin-block-start: calc(var(--spacing-1000) + var(--spacing-300) + var(--spacing-075));
    margin-inline: auto;
    padding-inline: var(--spacing-300);
    padding-block-end: var(--spacing-500);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 14.375rem auto 1fr;
    row-gap: calc(var(--spacing-250) + var(--spacing-100));
    background-color: var(--color-bg-primary);
    border-radius: var(--radius-200);
    color: var(--color-text-inverse);
    text-align: center;
    isolation: isolate;
    position: relative;

    &::after {
      position: absolute;
      content: '';
      inset: 0;
      background: url('./../assets/images/patterns/blur.svg') no-repeat center top;
      background-position-y: calc(-1 * var(--spacing-1000) * 2);
      z-index: 0;
      pointer-events: none;
    }
  }

  .testimonial__content {
    --stack-space: var(--spacing-300);
    margin-block-start: var(--spacing-075);
  }

  .testimonial__header {
    --stack-space: var(--spacing-400);
  }

  /* FOOTER */
  .footer {
    padding-block-start: calc(var(--spacing-800) + var(--spacing-100));
    padding-block-end: var(--spacing-500);
  }

  .footer__inner {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    row-gap: var(--spacing-400);
  }
}

@layer components {

  /* STATS */
  .stats {
    display: grid;
    grid-template-columns: 1fr;
    gap: var(--spacing-500);
    text-align: center;
  }

  /* BUTTONS */
  .button {
    font-size: var(--fs-300);
    font-weight: var(--fw-bold);
    letter-spacing: -0.01em;
    border: 1px solid var(--color-bg-primary);
    border-radius: var(--radius-100);
  }

  .button--primary {
    position: relative;
    padding-inline: var(--spacing-400);
    padding-block: var(--spacing-250) var(--spacing-200);
    background-color: var(--color-bg-primary);
    color: var(--color-text-inverse);
    border: none;
    isolation: isolate;

    &::before {
      position: absolute;
      content: '';
      inset: 0;
      background: var(--color-interactive-hover);
      border-radius: inherit;
      transition: opacity var(--transition-fast);
      opacity: 0;
      z-index: -1;
    }
  }

  .button--secondary {
    padding: var(--spacing-200) var(--spacing-250) var(--spacing-150);
    background-color: transparent;
    transition: background-color var(--transition-fast), color var(--transition-fast);
  }

  /* SOCIAL */
  .social__list {
    --cluster-space: var(--spacing-400);
  }

  .social__link {
    padding: .2em;
    display: grid;
    place-items: center;
    border-radius: 50%;
    transition: background-color var(--transition-fast);
  }

  /* LOGO */
  .logo {
    padding: var(--spacing-075) var(--spacing-100);
    display: inline-block;
    border-radius: var(--radius-100);
  }

  /* IMAGE */
  .testimonial__media {
    align-self: end;
    justify-self: center;
    inline-size: 15.75rem;
    z-index: 1;
  }

  .testimonial__image {
    inline-size: 100%;
    block-size: 100%;
    object-fit: cover;
  }

  .testimonial__pattern {
    block-size: 3.25rem;
    background: url('./../assets/images/patterns/curved-line-2.svg') no-repeat center top;
  }

  /* ICON */
  .social__icon {
    block-size: 1.8rem;
    aspect-ratio: 1;
  }

  /* TYPOGRAPHY */
  .intro__title {
    max-inline-size: 16ch;
    font-size: var(--fs-600);
    font-weight: var(--fw-normal);
    letter-spacing: -0.014em;
    line-height: 1.1;
  }

  .text-emphasis {
    font-weight: var(--fw-bold);
  }

  .intro__description {
    max-inline-size: 35ch;
    font-size: var(--fs-400);
    letter-spacing: 0.006em;
    line-height: 1.6;
    color: var(--color-text-secondary);
  }

  .stats__value {
    font-size: var(--fs-700);
    font-weight: var(--fw-bold);
    letter-spacing: -0.01em;
    line-height: 1.2;
  }

  .stats__label {
    font-size: var(--fs-300);
    text-transform: uppercase;
    letter-spacing: 0.1563em;
    color: var(--color-text-secondary);
  }

  .testimonial__title {
    font-size: var(--fs-700);
    font-weight: var(--fw-normal);
    letter-spacing: 0.003em;
    line-height: 1.48;
  }

  .testimonial__quote {
    font-size: var(--fs-500);
    letter-spacing: 0.006em;
    line-height: 1.75;
    color: var(--color-text-tertiary);

    &::before {
      content: open-quote;
    }

    &::after {
      content: close-quote;
    }
  }

  .testimonial__author {
    font-size: var(--fs-400);
    font-weight: var(--fw-bold);
    font-style: normal;
    text-transform: uppercase;
    letter-spacing: -0.01em;
    line-height: 1.8;
  }

  .testimonial__role {
    font-size: var(--fs-300);
    text-transform: uppercase;
    letter-spacing: 0.1563em;
    line-height: 1.65;
    color: var(--color-text-tertiary);
  }

  .footer__copy {
    font-size: var(--fs-200);
    color: var(--color-text-secondary);
  }

  .attribution {
    font-size: var(--fs-100);
    text-align: center;
    color: var(--color-text-secondary);
  }

  .attribution__link {
    position: relative;
    margin-inline: .5em;
    font-weight: var(--fw-bold);
    text-decoration: none;

    &::after {
      position: absolute;
      content: '';
      bottom: -0.125rem;
      right: 0;
      inline-size: 100%;
      block-size: 0.125rem;
      background-color: currentColor;
      transition: inline-size var(--transition-fast);
      pointer-events: none;
    }
  }
}

@layer utilities {

  .cluster {
    display: flex;
    align-items: center;
    gap: var(--cluster-space, 1rem);
  }

  .stack {
    display: flex;
    flex-direction: column;
    gap: var(--stack-space, 1rem);
  }
}

@layer responsive {

  @media (width >=48rem) {

    body {
      padding-block-start: var(--spacing-400);
    }

    /* INTRO */
    .intro {
      margin-block-start: var(--spacing-1000);
    }

    .intro__inner {
      position: relative;
      grid-template-columns: repeat(2, 1fr);
      justify-items: start;
      row-gap: var(--spacing-1000);
      column-gap: var(--spacing-0);

      &::after {
        left: 19rem;
        top: 1.5rem;
        background-size: unset;
        pointer-events: none;
      }
    }

    .intro__content {
      --stack-space: var(--spacing-600);
      position: absolute;
      top: 0;
      transform: translateY(calc(var(--spacing-1000) + var(--spacing-075)));
    }

    .intro__text {
      --stack-space: var(--spacing-500);
    }

    /* TESTIMONIAL */
    .testimonial {
      inline-size: clamp(44rem, 91vw, 69.375rem);
      margin-block-start: calc(var(--spacing-1000) * 3 + var(--spacing-300));
      padding-inline: var(--spacing-600);
      padding-block-end: var(--spacing-800);
      grid-template-rows: 248px auto 1fr;
    }

    .testimonial__content {
      margin-block-start: unset;
    }

    /* STATS */
    .stats {
      inline-size: 100%;
      grid-column: 1/-1;
      grid-template-columns: repeat(3, 1fr);
      gap: var(--spacing-800);
    }

    /* FOOTER */
    .footer__inner {
      grid-template-columns: repeat(3, 1fr);
      align-items: center;
      row-gap: var(--spacing-100);
    }

    /* SOCIAL */
    .social {
      justify-self: end;
    }

    /* IMAGES */
    .intro__media {
      grid-column: 2/-1;
      justify-self: end;
      inline-size: clamp(17.5rem, 80%, 21.875rem);
    }

    .footer .logo {
      justify-self: start;
    }

    /* BUTTON */
    .button--secondary {
      padding-inline: var(--spacing-300);
    }

    /* TYPOGRAPHY */
    .intro__title {
      font-size: var(--fs-800);
      letter-spacing: 0.0018em;
    }

    .attribution {
      grid-column: 1/-1;
    }
  }

  @media (width >=70rem) {

    body {
      padding-block-start: calc(var(--spacing-500) + var(--spacing-125));
    }

    /* INTRO */
    .intro__inner {
      grid-template-columns: auto 1fr 11.875rem;
      column-gap: calc(var(--spacing-1000) + var(--spacing-250));

      &::after {
        top: 2.5rem;
      }
    }

    .intro__content {
      --stack-space: var(--spacing-800);
      top: 50%;
      transform: translateY(-50%);
    }

    /* TESTIMONIAL */
    .testimonial {
      block-size: 33.5rem;
      margin-block-start: calc(var(--spacing-1000) * 2 + var(--spacing-250) + var(--spacing-100));
      padding-block-end: unset;
      padding-inline: calc(var(--spacing-1000) + var(--spacing-500) + var(--spacing-075));
      grid-template-columns: 1fr 4rem 1fr;
      grid-template-rows: unset;
      align-content: end;
      align-items: center;
      column-gap: calc(var(--spacing-400) + var(--spacing-075));
      text-align: left;

      &::after {
        background-position: var(--spacing-500) calc(var(--spacing-800) * 2);
      }
    }

    .testimonial__content {
      translate: var(--spacing-150) var(--spacing-300);
    }

    /* STATS */
    .stats {
      grid-column: 3/-1;
      align-self: center;
      max-inline-size: 11.875rem;
      grid-template-columns: 1fr;
      justify-items: start;
      text-align: left;
    }

    /* IMAGES */
    .intro__media {
      grid-column: 2/3;
    }

    .testimonial__media {
      inline-size: 22.5rem;
      justify-self: start;
      align-self: unset;
    }

    /* TYPOGRAPHY */
    .intro__title {
      font-size: var(--fs-900);
      letter-spacing: -0.014em;
    }

    .testimonial__quote {
      max-inline-size: 30ch;
    }
  }
}

@layer states {
  @media (hover:hover) {

    .button--secondary:hover {
      background-color: var(--color-interactive-hover-secondary);
      color: var(--color-text-inverse);
    }

    .button--primary:hover::before {
      opacity: 1;
    }

    .social__link:hover {
      background-color: var(--color-interactive-icon-hover);
    }
  }

  :focus-visible {
    outline-color: var(--color-focus-ring);
  }

  .attribution__link:is(:hover, :focus-visible)::after {
    inline-size: 0;
  }
}