@layer tokens {

  :root {
    --color-neutral-900: #172339;
    --color-neutral-500: #49566D;
    --color-neutral-200: #F3EDE7;
    --color-neutral-50: #FAF8F6;
    --color-purple-500: #CB30E3;

    --color-bg-default: var(--color-neutral-50);
    --color-bg-primary: var(--color-neutral-900);
    --color-bg-footer: var(--color-neutral-200);

    --color-text-primary: var(--color-neutral-900);
    --color-text-secondary: var(--color-neutral-500);
    --color-text-tertiary: var(--color-neutral-200);
    --color-text-inverse: var(--color-neutral-50);

    --color-focus-ring: var(--color-neutral-900);

    --color-interactive-hover: linear-gradient(135deg, #A060FF 0%, #CB30E3 49.21%, #FFA84E 100%);
    --color-interactive-hover-secondary: var(--color-neutral-900);
    --color-interactive-icon-hover: var(--color-neutral-200);

    --spacing-0: 0;
    --spacing-025: 0.125rem;
    --spacing-050: 0.25rem;
    --spacing-075: 0.375rem;
    --spacing-100: 0.5rem;
    --spacing-125: 0.625rem;
    --spacing-150: 0.75rem;
    --spacing-200: 1rem;
    --spacing-250: 1.25rem;
    --spacing-300: 1.5rem;
    --spacing-400: 2rem;
    --spacing-500: 2.5rem;
    --spacing-600: 3rem;
    --spacing-800: 4rem;
    --spacing-1000: 5rem;

    --ff-base: 'Epilogue', system-ui, sans-serif;

    --fw-normal: 400;
    --fw-bold: 700;

    --fs-100: 0.85rem;
    --fs-200: 0.9375rem;
    --fs-300: 1rem;
    --fs-400: 1.125rem;
    --fs-500: 1.25rem;
    --fs-600: 2.375rem;
    --fs-700: 3rem;
    --fs-800: 3.5rem;
    --fs-900: 4.5rem;

    --radius-100: 0.375rem;
    --radius-200: 0.9375rem;
  }
}